@{
    ViewData["Title"] = "Access Denied";
}

<div class="card mb-4 shadow-sm">
    <div class="card-header">
        <h4 class="display-4 text-center text-primary">Access Denied</h4>
    </div>

    <div class="row card-body">
        <p>You do not have action permission.</p>
        <p>If you think this is a mistake, please contact the administrator.</p>
    </div>
</div>