﻿@using Airline_Ticket_System.Data.Constants
@{
    var isAdmin = User.IsInRole("Admin");
    var isOperator = User.IsInRole("Operator");
    var isUser = User.IsInRole("User");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/airline_tickets.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                        @if (isAdmin)
                        {
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Users">Users</a>
                                </li>
                            </ul>
                        }

                       
                        @if (isUser)
                        {
                        <ul class="navbar-nav flex-grow-1">
                               <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Booking" asp-action="MyBooked">My booked flights</a>
                               </li
                        </ul>
                        }

                        @if (isAdmin)
{
                            <ul class="navbar-nav flex-grow-1">
                                    @if (isAdmin)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Flight" asp-action="Create">New Flight</a>
                                        </li>
                                    }
                            </ul>
                        }
                </div>

            <partial name="_LoginPartial" />
    </nav>
    </header>
    @if (User.Identity.IsAuthenticated)
    {
        <div style="text-align: right;" class="username-display">
            <span>
                <small class="text-muted">Signed in: @User.Identity.Name</small>
            </span>
        </div>
    }

    <div class="container">
        <main role="main" class="pb-3">
        @RenderBody()
        </main>
    </div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2026 - Airline Ticket System
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)
</body>
</html>
